@using GGWP.Models.Entities
@using GGWP.Models.db
@model GGWP.Models.Entities.ProfilModel

@{
    ViewBag.Title = "Profil";
}

<h4 class="ui horizontal inverted divider header">
    <i class="user md icon"></i>
    Profil
</h4>
<p></p>

<div class="ui form">
    <div class="three fields">
        <div class="field centerImage" id="centerColumn">
            <div class="column">
                <div class="infor">
                    <label class="ui big label labela">@Model.user.ime</label>
                </div>
                <div class="infor">
                    <label class="ui big label labela">@Model.user.username</label>
                </div>
                <div class="infor">
                    <label class="ui big label labela">@Model.user.email</label>
                </div>
                <div class="infor">
                    <label class="ui big label labela">@Model.user.dob</label>
                </div>
                <div class="infor">
                    <label class="ui big label labela">Broj timova: @Model.timovi.Count</label>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div id="raspored_timovi" class="ui items">
    @foreach (TimskiRaspored t in Model.timRasporedi)
    {
        <div class="item vijest_container" style="padding-top: 10px;">
            <div class="content" style="margin: 0 10px 15px 10px;">
                <div class="vijest_item">
                    <h3 class="header"><i class="user outline icon"></i> @t.tim.naziv/h3>
                    <div class="meta">
                        <span>@t.tim.Igra.naziv</span>
                    </div>
                    <div class="description">
                        <div class="ui divider"></div>
                        <h3 class="header"><i class="comment outline icon"></i> Opis:</h3>
                        <p>@t.tim.opis</p>
                        <div class="ui divider"></div>
                        <ul>
                            @foreach(Clan c in t.clanovi)
                            {
                                <li>@c.username - @c.uloga</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
</div>

<script src="~/Scripts/profili.js"></script>